p,h1,h2,h3,h4,h5,h6,ul,ol,li,form,fieldset,img,a {
	border: none;
}

body {
	position: relative;
	text-align: center;
	font-family: Verdana, Arial, Lucida, sans-serif;
	font-size: small;
	background: #f8f7f7 url("../image/background3.gif") center bottom repeat-y;
}

html {
	background-color: #e6e7e8;
}

#header {
	
}

#blackline {
	text-align: center;
	background: #000;
	color: #ddd;
	border-bottom: 1px solid #35830b;
	padding: 6px 0;
	font-size: 0.85em;
}

#blackline div {
	margin: 0 auto;
	text-align: left;
	width: 1000px;
}

#blackline a {
	color: #abaaaa;
	text-decoration: none;
}

#blackline a:hover {
	color: #fff;
	text-decoration: underline;
}

#b1 {
	background: url("../image/background1.gif") left top repeat-x;
}

#content {
	position: relative;
	width: 999px;
	margin: 0 auto;
	text-align: left;
	background: url("../image/background7.gif") left top repeat-y;
}

#leftCol {
	overflow: hidden;
	width: 350px;
	float: left;
	background: url("../image/background5.gif") right top repeat-y;
}

#search {
	width: 266px;
	height: 22px;
	position: absolute;
	left: 734px;
	top: 13px;
	position: relative;
	background: url("../image/background-search.gif") left top no-repeat;
}

#searchtext {
	height: 20px;
	width: 162px;
	background: #fff;
	border: 1px solid #000;
	position: absolute;
	left: 28px;
	top: 0;
}

#searchimage {
	position: absolute;
	left: 190px;
	top: 0;
}

#logo {
	color: #fff;
	height: 153px;
	text-align: right;
	padding-right: 50px;
	background: url("../image/background6.gif") right top no-repeat;
}

#logo h1 {
	font-family: verdana;
	font-size: 4em;
	font-weight: normal;
	padding-top: 25px;
}

#logo h1 a {
	color: #fff;
	text-decoration: none;
}

#logo h1 a:hover {
	color: #f7f0e0;
	text-decoration: none;
}

#logo p {
	padding-top: 5px;
	color: #f7f0e0;
	font-family: arial;
	font-size: 0.9em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#aboutme {
	margin: 40px 0 30px 0;
	width: 300px;
	background: #fff url("../image/aboutme-top.gif") left top no-repeat;
}

#aboutme div {
	padding: 15px;
	background: url("../image/aboutme-bottom.gif") left bottom no-repeat;
}

#aboutme img {
	border: 7px solid #185405;
	float: left;
	margin: 0 25px 15px 0;
}

#aboutme h3 {
	background: url("../image/border1.gif") left bottom repeat-x;
	font-size: 1.9em;
	color: #000;
	font-weight: normal;
	padding: 0 0 10px 0;
	margin-bottom: 15px;
}

#aboutme p {
	margin-bottom: 5px;
	line-height: 1.4em;
	text-align: justify;
}

#aboutme strong {
	color: #000;
	font-weight: bold;
}

h3.cat {
	margin: 30px 0 10px 0;
	font-size: 1em;
	letter-spacing: 1.5px;
	font-family: arial;
	background: #000 url("../image/background-h.gif") right top no-repeat;
	height: 27px;
	line-height: 27px;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 40px;
}

h3.rss {
	background: #000 url("../image/background-r.gif") right top no-repeat;
	padding-left: 65px;
	font-weight: bold;
	font-size: 1em;
}

h3.rss a {
	color: #f89939;
	letter-spacing: 0;
	text-decoration: none;
}

h3.rss a:hover {
	color: #fff;
	text-decoration: underline;
}

#menu {
	list-style: none;
}

#menu li {
	margin-bottom: 5px;
}

#menu li a {
	display: block;
	height: 21px;
	line-height: 21px;
	background: url("../image/background-m.gif") left top no-repeat;
	padding-left: 60px;
	color: #000;
	text-decoration: none;
}

#menu li a.actual,#menu li a:hover {
	background: url("../image/background-m2.gif") left top no-repeat;
	color: #288f08;
	font-weight: bold;
}

h3.none {
	font-size: 1.9em;
	color: #000;
	font-weight: normal;
	margin: 30px 0 15px 0;
	padding: 0 0 0 25px;
}

.adbox {
	display: block;
	width: 125px;
	height: 125px;
	float: left;
	margin: 0 0 25px 25px;
}

#rightCol {
	background: #fff;
	width: 649px;
	float: left;
	margin-top: 65px;
}

.rightContent {
	padding: 0px 40px 40px 40px;
}

.article {
	
}

.article h2 {
	font-size: 1.9em;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	background: url("../image/border2.gif") left bottom repeat-x;
}

.article h2 a {
	color: #969a6a;
	text-decoration: none;
}

.article h2 a:hover {
	color: #000;
	text-decoration: none;
}

.article p {
	line-height: 1.5em;
	margin-bottom: 13px;
}

.aligntoleft {
	margin: 5px 25px 10px 0;
	float: left;
}

.aligntoright {
	margin: 5px 0 10px 25px;
	float: right;
}

p.info {
	background: #f2f2f2;
	color: #000;
	padding: 5px 10px;
	margin-bottom: 40px;
	font-size: 0.8em;
}

p.info a {
	color: #000;
	text-decoration: underline;
}

p.info a:hover {
	color: #888;
	text-decoration: none;
}

p.info img {
	
}

#bottom {
	height: 55px;
	background: #eeeded;
	padding: 0 15px;
}

#bottom a {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}

#bottom a:hover {
	color: #888;
	text-decoration: none;
}

#bottom1 {
	width: 100px;
	padding-left: 20px;
	height: 55px;
	line-height: 55px;
	display: block;
	float: left;
	background: url("../image/arrow4.gif") left center no-repeat;
}

#bottom2 {
	width: 100px;
	text-align: right;
	padding-right: 20px;
	height: 55px;
	line-height: 55px;
	display: block;
	float: right;
	background: url("../image/arrow3.gif") right center no-repeat;
}

.taright,#aboutme p.taright {
	text-align: right;
}

#footer {
	
}

#footer1 {
	height: 59px;
	background: url("../image/background-f1.gif") left top repeat-x;
	line-height: 59px;
}

#footer1 .content {
	height: 59px;
	background: url("../image/background8.gif") 770px 0 no-repeat;
}

#footerLinks {
	color: #fff;
	font-size: 0.85em;
	width: 999px;
	height: 59px;
	margin: 0 auto;
	text-align: left;
	background: url("../image/background-f2.gif") left top no-repeat;
}

#footerLinks a {
	color: #fff;
}

#footer2 {
	background: #d8d7d7;
	padding: 5px 0 25px 0;
	text-align: center;
	color: #8e8c8c;
	font-size: 0.8em;
}

#footer2 div {
	width: 999px;
	margin: 0 auto;
	text-align: right;
}

#footer2 a {
	color: #8e8c8c;
}

a {
	color: #2fa50a;
}

a:hover {
	color: #a2a2a2;
}

a.arrow {
	padding-right: 20px;
	background: url("../image/arrow1.gif") right center no-repeat;
}

a.arrow:hover {
	background: url("../image/arrow2.gif") right center no-repeat;
}

.floathelp {
	clear: both;
	font-size: 1px;
	height: 1px;
	lin-height: 1px;
}

.formHeader {
	background: lightyellow none repeat scroll 0 0;
	border-bottom: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
	margin-bottom: 6px;
	padding: 0 12px;
}

button {
	margin-right: 10px;
	padding: 4px 10px 5px 10px;
	width: auto;
	background: #fff url(../image/buttons.gif) repeat-x;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 14px;
}

button:hover {
	background: url(../image/buttons.gif) 0 -50px repeat-x;
	border-color: #aaa;
	text-decoration: none;
}

button:active {
	background: url(../image/buttons.gif) 0 -100px repeat-x;
	color: #fff;
}

/*  = Simple Table style (black header, grey/white stripes  */
table.simple {
	background-color: #E6E7E8;
}

table.simple img {
	border: 0px;
}

table.simple td {
	height: 3em;
	padding-left: 6px;
	font-size: 11px;
	padding: 10px 5px;
}

table.simple th {
	font-size: 12px;
	font-weight: normal;
	padding: 0 10px 0 5px;
	border-bottom: #999999 dotted 1px;
}

table.simple .header {
	background: url(../image/bkg-blkheader.png) #000000 repeat-x top left;
	height: 31px;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
}

table.simple .header a {
	color: #94aebd;
}

table.simple tr.header td {
	padding: 0px 10px 0px 5px;
}

table.simple .subheader {
	background-color: #e6e7e8;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}

table.simple .oddRow {
	background-color: #f4f3f3;
	padding-left: 6px;
}

table.simple .evenRow {
	background-color: #ffffff;
}

table.simple .categoryRow { /* need this? */
	color: #333333;
	font-weight: bold;
	font-size: 13px;
	font-family: Helvetica, sans-serif;
}

table.simple td a.td-download {
	display: inline;
	padding: 3px 30px 3px 0px;
	min-width: 80px;
	height: 20px;
	background: transparent url(../image/download-arrw_sml.png) no-repeat right top;
}

.hgap {
    margin-top:10px;    	
}
.nodeTree {
	width: 400px;
	height: 200px;
	border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #FFF;
	border-right: solid 1px #FFF;
	background: #FFF;
	overflow: scroll;
	padding: 5px;
}