body {
	margin: 40px;
	background-color: #fff;
	font: 12px/ 18px "Lucida Grande", Verdana, Sans-serif;
	color: #455;
}

a {
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.hasIcon {
	background: transparent url(../image/icon_link3.gif) no-repeat scroll right center;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	padding-right: 13px;
}

h1 {
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
	color: #444;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}

.bordered {
	border-color: #99c;
	border-style: solid;
	border-width: 1px;
	line-height: 1.2em;
}

a,.pageHeader {
	color: #666699;
}

#wrapper {
	margin-top: 20px;
}

.code {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 9pt;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em
}

.bordered {
	border-color: #99c;
	border-style: solid;
	border-width: 1px;
	line-height: 1.2em;
}

.revInfo {
    width:162px; 
    margin-top: 50px;
    border-top:1px #99c solid;
    float: right;
    color: #9999CC;
}

.clearfix {
	clear: both;
	height: 1%;
}

.push {
	height: 8.6em;
	padding-bottom: 120px;
}