body {
	margin: 40px;
	background-color: #fff;
	font: 12px/ 18px "Lucida Grande", Verdana, Sans-serif;
	color: #000;
	width: 950px;
}

html,body,.nav {
	height: 100%;
}

p {
	margin-top: 0.6em;
}

a {
	color: #4F4FCA;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #6262D0;
	text-decoration: underline;
}

input,button,table {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 10px;
}

th {
	color: #333333;
}

h1,h2 {
	color: #444;
}

h1 {
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}

h2.header {
	margin: 17px 0 2px 0;
	padding: 5px 0 6px 0;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 14px;
}

h3,h4 {
	margin: 12px 0 2px 0;
	padding: 3px 0 5px 0;
}

pre {
	margin: 14px 0;
	padding: 12px 10px;
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 11px;
	background-color: #fafafd;
	border: 1px solid #ddd;
	color: blue;
	display: block;
}

ul,ol {
	margin-left: 20px;
	padding: 5px
}

code {
	color: #3366FF;
}

code.g {
	color: #080;
}

code.o {
	color: #CC7A00;
}

code.bg1 {
	background-color: #FC9;
}

.code {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 9pt;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em
}

input[type="submit"],input[type="button"] {
	font-size: 8pt;
}

fieldset {
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border: #99c 1px solid;
}

.tt,textarea,code {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 12px;
}

#main {
	clear: both;
	float: left;
	overflow: hidden;
	margin-top: 20px; /* IE7 hack */
}

#mainSections {
	width: 850px;
	overflow: auto; /* Makes container wrap around */
	width: 100% /* Makes container wrap around */
}

#mainSections .section {
	width: 445px;
	float: left;
	padding: 10px;
}

#mainSections .section h2 {
	font-size: 17px;
	color: #636363;
}

#mainSections .section.column1 {
	margin: 10px 10px 10px 0px;
}

#mainSections .section.column2 {
	margin: 10px 0px 10px 10px;
}

a.hasIcon {
	background: transparent url(../image/icon_link3.gif) no-repeat scroll right center;
	padding-right: 13px;
}

.em {
	font-size: 11px;
	color: #455;
}

.call {
	color: green;
}

.bordered {
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	line-height: 1.2em;
}

code.bordered {
	padding: 2px;
	border-color: #9B9BE1;
}

.clearfix {
	clear: both;
	height: 1%;
}

.push {
	height: 8.6em;
	padding-bottom: 120px;
}

#topNav {
	background: #EEEEEE none repeat scroll 0 0;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	border: 1px solid #DDD;
	width: 850px;
	overflow: auto; /* Makes container wrap around */
	width: 100%; /* Makes container wrap around */
	height: 35px;
	clear: both;
}

ul.links {
	margin: 0;
	padding: 0;
}

#topNav li {
	padding: 0;
}

#topNav li {
	border-right: 1px solid #DDD;
	display: block;
	float: left;
	width: 114px;
}

ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 0.5em;
}

#topNav li a {
	color: #333333;
	display: block;
	font-size: 11px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 5px 0 12px 5px;
	text-decoration: none;
	text-transform: uppercase;
	width: 113px;
}

#topNav li a:hover {
	color: #8C8CDD;
}

/*  = Simple Table style (black header, grey/white stripes  */
table.simple {
	background-color: #E6E7E8;
}

table.simple img {
	border: 0px;
}

table.simple td {
	height: 3em;
	padding-left: 6px;
	font-size: 11px;
	padding: 10px 5px;
}

table.simple th {
	font-size: 12px;
	font-weight: normal;
	padding: 0 10px 0 5px;
	border-bottom: #999999 dotted 1px;
}

table.simple .header {
	height: 31px;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
}

table.simple .header a {
	color: #94aebd;
}

table.simple tr.header td {
	padding: 0px 10px 0px 5px;
}

table.simple .subheader {
	background-color: #e6e7e8;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}

table.simple .odd {
	background-color: #f4f3f3;
	padding-left: 6px;
}

table.simple .even {
	background-color: #ffffff;
}

.inputError,.warning {
	color: #CC0000;
	font-size: 0.9em;
	padding-left: 19px;
	background: url(../image/error-red-bullet.png) no-repeat 2pt 0pt;
}

.saveSuccess {
	background-color: #727EA3;
	padding: 5px;
}

#justAdded {
	border: #f4f3f3 solid 1px !important;
}

.image {
	margin: 5px 0px;
}

.image .caption {
	font-size: 90%;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

.box {
	margin: 10px 0px;
	padding: 10px
}

#footer {
	margin-top: 10px;
	background: transparent url(../image/bg-bottom.gif) repeat-x scroll 0 0;
	clear: both;
	height: 25px;
	overflow: hidden;
	padding: 15px 0;
}