body {
	margin: 40px;
	background-color: #fff;
	font: 12px/ 18px "Lucida Grande", Verdana, Sans-serif;
	color: #455;
}

input,button,table {
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 10px;
}

th {
	color: #333333;
}

input[type="submit"] {
	font-size: 8pt;
}

fieldset {
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border: #99c 1px solid;
}

.tt,textarea,code {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 12px;
}

.main {
	width: 710px;
	text-align: left;
	float:left;
	background: transparent url(../image/icon_alert_big.png) no-repeat scroll 120% 95%;
}

a {
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.hasIcon {
	background: transparent url(../image/icon_link3.gif) no-repeat scroll right center;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	padding-right: 13px;
}

h1 {
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
	color: #444;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}

.exception {
	border-bottom: 1px solid #fff;	
	padding:10px 0px;
	margin-left: 10px;
	margin-bottom:10px;
}

pre {
	margin: 14px 0;
	padding: 12px 10px;
	font-family:"Lucida Console","Courier New",Courier,monospace;
	font-size: 11px;
	background-color: #F4F4F4;
	border: 1px solid #ddd;
	color: blue;
	display: block;
}

.topStack {
	font-family:"Lucida Console","Courier New",Courier,monospace;
	font-size: 11px;
}

.topStack pre {
	background-color: #fff;
	border: 1px solid #B8D1E3;	
}

.code {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 9pt;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em
}

.call {
	color: green;	
}

.bordered {
	border-color: #99c;
	border-style: solid;
	border-width: 1px;
	line-height: 1.2em;
}

a,.pageHeader {
	color: #666699;
}

#wrapper {
	margin-top: 20px;
}

#mainPanelError {
	text-align: left;
	padding: 10px;
	background-color: #E4E4F1;
	border: 1px solid #C9C9E4;
}

.line {
	margin: 10px 6px;
}

#mainPanelError .userInfo, #stackTrace,.hint {
	text-align: left;
	background: white;
	margin: 5px;
	padding: 9px;
	border: 1px solid #B8D1E3;
}

.stackTraceElement {
	text-align: left;
	background: white;
	margin: 0 0 6px 0;
}

.revInfo {
    width:162px; 
    margin-top: 50px;
    border-top:1px #99c solid;
    float: right;
    color: #9999CC;
}

.hint {
	color: red;
	font-weight: bold;
	padding: 10px;
}

.fileInfo {
	font-size: 0.8em;
	color: #747474;
	margin: 0 0 0 15px;
}

#error {
    padding-bottom:20px;
}

.error ul li {
	padding:3px 0px;
}

.clearfix {
	clear: both;
	height: 1%;
}

.push {
	height: 8.6em;
	padding-bottom: 120px;
}

#footer {
	margin-top: 10px;
	background: transparent url(../image/bg-bottom.gif) repeat-x scroll 0 0;
	clear: both;
	height: 25px;
	overflow: hidden;
	padding: 15px 0;
}