/************************************
 * Spica Syntax Highlighter theme.
 * 
 * Interface elements.
 ************************************/
.syntaxhighlighter {
	background: #edeefa !important;
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number {
	color: black !important;
	background: #83E783 !important;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1 .content,
.syntaxhighlighter .line.highlighted.alt2 .content {
	background: #83E783 !important;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number {
	color: #646464 !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content {
	border-left: 3px solid #cdcfef !important;
	color: #000 !important;
}

.syntaxhighlighter.printing .line .content  {
	border: 0 !important;
}

/* First line */
.syntaxhighlighter .line.alt1 .content {
	background: #fff !important;
}

/* Second line */
.syntaxhighlighter .line.alt2 .content {
	background: #f5f5fc !important;
}

.syntaxhighlighter .line .content .block {
	background: url(wrapping.png) 0 1.1em no-repeat !important;
}

.syntaxhighlighter .ruler {
	color: silver !important;
	border-left: 3px solid #6CE26C !important;
	background: #F8F8F8 !important;
}

.syntaxhighlighter.nogutter .ruler {
	border: 0 !important;
}

.syntaxhighlighter .toolbar {
	border: #E7E5DC solid 1px !important;
	background: #F8F8F8 !important;
}

.syntaxhighlighter .toolbar a {
	color: #a0a0a0 !important;
}

.syntaxhighlighter .toolbar a:hover {
	color: red !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
	color: #0002e8 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
	color: #ff8000 !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
	color: #DD0000 !important;
}

.syntaxhighlighter .keyword {
	color: #007700 !important;
	font-weight: bold !important;
}

.syntaxhighlighter .preprocessor  {
	color: gray !important;
}

.syntaxhighlighter .variable  {
	color: #a70 !important;
}

.syntaxhighlighter .value {
	color: #090 !important;
}

.syntaxhighlighter .functions {
	color: #ff1493 !important;
}

.syntaxhighlighter .constants {
	color: #0066CC !important;
}

.syntaxhighlighter .script {
	background: yellow !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
	color: #808080 !important;
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
	color: #ff1493 !important;
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
	color: red !important;
}

